### Pin Timer Classification

<div class="datatable-begin"></div>

|Pin Number|Timer|
| :------------- |:-------------|
|PA_0|Timer 2|
|PA_1|Timer 2|
|PA_15|Timer 2|
|PA_2|Timer 2|
|PA_3|Timer 2|
|PA_5|Timer 8|
|PA_6|Timer 13|
|PA_7|Timer 14|
|PB_0|Timer 3|
|PB_1|Timer 3|
|PB_10|Timer 2|
|PB_11|Timer 2|
|PB_14|Timer 12|
|PB_15|Timer 8|
|PB_3|Timer 2|
|PB_4|Timer 3|
|PB_5|Timer 3|
|PB_6|Timer 4|
|PB_7|Timer 4|
|PB_8|Timer 10|
|PB_9|Timer 11|
|PC_6|Timer 8|
|PC_7|Timer 3|
|PC_8|Timer 8|
|PC_9|Timer 8|
|PD_12|Timer 4|
|PD_13|Timer 4|
|PD_14|Timer 4|
|PD_15|Timer 4|
|PE_5|Timer 9|
|PE_6|Timer 9|
|PF_6|Timer 10|
|PF_7|Timer 11|
|PF_8|Timer 13|
|PF_9|Timer 14|
|PH_6|Timer 12|
|PI_5|Timer 8|
|PI_6|Timer 8|

<div class="datatable-end"></div>