### Board.txt Location

Place the *board.txt* file in a directory called "sys" on the SD card and install the SD card in the {{page.boardname}}.

{% include tip.html content="If you have to make changes to the board.txt going forwards, then you must remove the card from the board and edit it that way. Board.txt is not accessible through DWC." %}

## SBC Preparation

Download the latest prepared image from [here](https://github.com/TeamGloomy/rrf_stm32_sbc/releases).  
The image has DSF installed and ready to go, with the correct transfer pin configured.  

### Flash the SD Card

Using [balenaEtcher](https://www.balena.io/etcher/), flash the downloaded image to an SD card 8Gb or larger.  

Place the SD Card into the Core-SD slot.

## Power Up the Board

The board and bed power supply should be 12/24v.  
The drivers power supply should be 12/24/48v. 48v should only be used with compatible 48v 5160 drivers.  

Turn it all on and you should be good to go.

If using Ethernet, you can either navigate to [fly-gemini.local](http://fly-gemini.local) or find the IP address of the rasberry pi using your router. If you don't have access to that, use something like [Fing](https://www.fing.com/products/fing-desktop){:target="_blank"} to scan your network.

## SSH into the board

Either via CORE UART USB connection or by using SSH via the network connection.
The default username is `root` and the default password is `1234`. Follow the onscreen instructions and change the root password and setup a new user. I recommend using ZSH rather than bash.  

### How to connect to wireless

If your SBC has onboard wireless capability or if you use a 3rd party wireless adapter on USB supported by Armbian, you can use `nmtui-connect` to browse and connect to your WiFi AP.

### Finally...

Once you've connected to the raspberry pi through your router, start to customise your config.g file etc or upload the outputted zip file from the [Configurator](https://teamgloomy.github.io/Configurator){:target="_blank"} to the pi using the system tab of Duet Web Control (DWC).

### Remember to PID tune the bed and tool 

You will need to PID tune your tools and your bed. Please be aware that bed tuning may take up to an hour and tool tuning normally takes around 15 minutes. If it takes longer, that is also fine as up to 30 cycles may be ran.  

To tune the bed, run the following command, changing the temperature (the S value) if a different tuning temperature is required.  
```
M303 H0 S60
```  

To tune each tool, run the following command, changing the temperature (the S value) if a different tuning temperature is required. This proceedure will activate the part cooling fans during the final phase of the tuning process so their effect is taken into account. If your printer has more than one tool, make sure each one of them is tuned.  
```
M303 T0 S220
```

Once the tuning is complete, either copy the M307 command into the heater definitions or send M500, ensuring you have M501 at the end of your config.g.  
If the tuning fails at the end, carry on saving the values as in most cases the outputted values still work correctly.  
If the values still result in a heater fault, please refer to [this](https://docs.duet3d.com/en/User_manual/Connecting_hardware/Heaters_tuning#setting-the-model-parameters-manually){:target="_blank"} wiki page for information about how to adjust the values manually.  