The SKR Pro also uses a different pin for the CS for SPI so you need to modify stepper.TmcUartPins in board.txt accordingly.

<div class="datatable-begin"></div>

| Driver       | UART Pin       | SPI Pin  |
| :-------------: |:-------------:| :---------------:|
| X           | PC_13         | PA_15           |
| Y     | PE_3         | PB_8           |
| Z   | PE_1         | PB_9             |
| E0   | PD_4        | PB_3             |
| E1  | PD_1         | PG_15             |
| E2   | PD_6        | PG_12             |
| BTT-EXP-MOT 1 | PF_11 ||
| BTT-EXP-MOT 2 | PG_10 ||

<div class="datatable-end"></div>

For example, if you had TMC5160s on X and Y, you would add the following line to your board.txt
```
stepper.TmcUartPins = { PA_15, PB_8, PE_1, PD_4, PD_1, PD_6, PF_11, PG_10, NoPin, NoPin, NoPin }
```
Note the added two SPI pins for the TMC5160s and then the remainder of the pins are the UART pins used by TMC22XX drivers.