### Drivers

The following line should be added (obviously with the array entries matching your drivers and their locations):

```text
stepper.DriverType = {Tmc2208, Tmc2240, tmc2209, tmc5160, stepdir}
```

The DriverType array allows for any driver to be used in any slot so there is no order requirement like the previous detection method. The array must also include an entry for each driver slot up to the last one thats populated.  
The following list of entries are valid:

```text
none
stepdir
tmc2208
tmc2209
tmc2660
tmc5160
tmc2240
```

The entry for stepper.numSmartDrivers is preset in the firmware for the number of drivers your board can handle. The number of drivers only needs to be changed if you are adding more drivers using something such as the BTT EXP MOT.  

{% if page.boardname == "SKR Pro v1.1" or page.boardname == "SKR Pro v1.2" %}
{% include custom/3.5/SKR_Pro_UART.html %}
{% endif %}

### TMC2240 Driver Temperature

TMC2240 drivers support reporting their own temperature, rather than just hot and very hot like the other TMC drivers.
To utilise this, add the following line to your config.g

```text
M308 S11 Y"drivers"
```

This will return the highest temperature reading from any of the drivers, 2240s will return the actual temperature, other drivers will return 0, 100 or 150 (as before). 

If you want to know the temperature of a particular driver you need to add the following line (as well as the above):

```text
M308 S12 Y"drivertemp" p"S11.X"
```

Where x is the driver number that matches the driver number used by M569

### Sensorless Homing

Follow the instructions as found [here]({{page.sensorless}})