## Manual board.txt Changes

If you are using a set of config files provided by someone else or have no need to use the configurator, you will need to create your board.txt file manually.

Below are the contents that should be used. 

```
//Config for {{page.boardname}}
board = {{page.board}}
//WiFi pins
8266wifi.espDataReadyPin = {{page.DRP}}
8266wifi.TfrReadyPin = {{page.TRP}}
8266wifi.espResetPin = {{page.ERP}}
{% if page.CS != nil %}8266wifi.csPin = {{page.CS}}{% endif %}
//{{page.wifi}} RX/TX Settings
8266wifi.serialRxTxPins = {{page.ESPRXTX}}
{% if page.SerialRXTX != "" %}serial.aux.rxTxPins = {{page.SerialRXTX}}{% endif %}
heat.tempSensePins = {{page.heat}}
{% if page.diagnostics != "" %}leds.diagnostic = {{page.diagnostics}}{% endif %}
{% if page.boardname == "Fly-E3-Pro" or page.boardname == "SKR-RRF-E3" or page.boardname == "Fly-E3-Pro-v3" %}stepper.numSmartDrivers = {{page.smartdrivers}}{% endif %}
```
{% unless page.boardname == "Fly-E3-Pro" or page.boardname == "SKR-RRF-E3" or page.boardname == "Fly-E3-Pro-v3" %}
### Smart Drivers

If using TMC5160 or TMC22XX drivers (where 22XX is either the TMC2208, TMC2209, TMC2225 or TMC2226), the following line must also be added to the board.txt file
```
stepper.numSmartDrivers = X
```
Where X is the number of drivers fitted in total.

#### TMC22XX UART Drivers

The drivers must be continuous and start at unit 0 (unless TMC5160 are also used, which case they must be installed after them). So, for the {{page.boardname}}, if you have say 3 TMC2208s and 1 other driver, the 2208s must be in slots 0, 1, 2 and the remaining driver in slot 3 or 4. You can use RRF to assign any of those slots to an axis/extruder. 

#### TMC5160 SPI Drivers

{% if page.boardname == "Fly-407ZG" %}
The Fly-407ZG is the only STM32 board that can't be used with 5160 drivers. This is due to them sharing the SPI pins used to also gain WiFi/SBC support.
{% endif %}
If using TMC5160 drivers, the following lines must also be added to the board.txt file.  
{% if page.stepperSPI == 0 or page.stepperSPI == 2 %}
```
stepper.num5160Drivers = X
stepper.spiChannel = {{page.stepperSPI}}
```
{% else %}
```
stepper.num5160Drivers = X
stepper.spiChannel = {{page.stepperSPI}}
SPI{{page.stepperSPI}}.pins = {{page.spiInfo}}
```
{% endif %}

Where X is the number of TMC5160 drivers fitted. The drivers must be continuous and start at unit 0. So, if you have say 3 TMC5160s and 1 TMC22XX and 1 other driver, the 5160s must be in slots 0, 1, and 2, the TMC22XX in slot 3 and the remaining driver in 4. You can use RRF to assign any of those slots to an axis/extruder.  

{% endunless %}