## Purchasing the WiFi Adapter

If you are just purchasing an adapter now, TeamGloomy **Strongly** recommends an ESP32 adapter as the WiFi performance has been greatly increased.

{% if page.wifi == "ESP8266" %}
You will need to purchase an adapter that plugs into the EXP1 and EXP2 headers. They can be purchased from a number of suppliers. They are:
* PCR (part of TeamGloomy) on [Tindie](https://www.tindie.com/stores/pcr/)
* Mellow (who works in close collaboration with TeamGloomy) on [Aliexpress](https://s.click.aliexpress.com/e/_DCs2Id3)
* BTT also make an adapter but TeamGloomy do not recommend it as it does not have a serial connection readily available, removing the ability to update the WiFi firmware from within RRF.  

## Connecting the WiFi Adapter

Connect EXP1 on the {{page.boardname}} to EXP1 on the WiFi adapter and connect EXP2 on the {{page.boardname}} to EXP2 on the WiFi adapter.  
Connect the 4 pin serial header on the WiFi adapter to the {{page.adapterRXTX}} header on the {{page.boardname}}. As power is being taken through EXP2, only the RX and TX lines need to be connected.  
{% include tip.html content="Remember, RX on the board is connected to TX on the adapter and vice versa." %}
{% elsif page.wifi == "ESP32" %}
You will need to purchase an adapter that plugs into the {{page.EXP}} header. They can be purchased from Mellow.
* Mellow (who works in close collaboration with TeamGloomy) on [Aliexpress](https://s.click.aliexpress.com/e/_DCQIBehl)

Connect the ESP32 Adapter to the board as shown below. (Antenna also has to be connected)
{% capture imagefile %}
{{ page.image }}
{% endcapture %}
{% capture captiontext %}
{{ page.boardname }} ESP32 Adapter Connection
{% endcapture %}
{% include image.html file=imagefile alt="" caption=captiontext %}
If you don't want to be able to update the WiFi adapter via the {{ page.boardname }} it's not needed to connect the 4-pin serial cable. Then add a small amount of solder in the area highlighted below to get power from {{page.EXP}}. 
{% include image.html file="fly_esp32_power.png" alt="Fly ESP32 Power" caption="Fly ESP32 Power Solder" %}
{% endif %}