## Manual board.txt Changes

If you are using a set of config files provided by someone else or have no need to use the configurator, you may need to create your board.txt file manually.
From 3.5-RC4, there is no longer a requirement to include a board.txt file, assuming you don't need anything above and the settings included in the image.  
The preset configurables are listed below for reference.  

{% include custom/3.5/rrfboot/rrfboot_fly_e3_pro_v3.html %}

{% if page.rrfbootOverrides == false %}
Unless you are overriding some of the above settings, or adding additional features, such as an accelerometer or 12864 display, a board.txt file is not required.
{% endif %}

You can now continue getting the SD card in the correct format.
