## WiFi firmware preparation
{% if {{site.latestStableFirmware}} == {{site.latestBetaFirmware}} %}
The latest firmware files can be found [here]({{site.latestStableFirmware}}){:target="_blank"}
{% else %}
The latest stable firmware files can be found [here]({{site.latestStableFirmware}}){:target="_blank"}
And the latest unstable firmware files can be found [here]({{site.latestBetaFirmware}}){:target="_blank"}
{% endif %}
{% if page.wifi == "both" %}
* WiFiModule_esp8266.bin for ESP8266
* WiFiModule_esp32.bin for ESP32
{% elsif page.wifi == "ESP32" %}
* WiFiModule_esp32.bin
{% else %}
* WiFiModule_esp8266.bin
{% endif %}
