<div class="datatable-begin"></div>

|Pin Number|Timer|
| :------------- |:-------------|
|PA_0|Timer 2|
|PA_1|Timer 15|
|PA_2|Timer 15|
|PA_3|Timer 2|
|PA_5|Timer 8|
|PA_6|Timer 13|
|PA_7|Timer 14|
|PA_15|Timer 2|
|PB_0|Timer 3|
|PB_1|Timer 3|
|PB_3|Timer 2|
|PB_4|Timer 3|
|PB_5|Timer 3|
|PB_6|Timer 16|
|PB_7|Timer 17|
|PB_8|Timer 16|
|PB_9|Timer 17|
|PB_10|Timer 2|
|PB_11|Timer 2|
|PB_14|Timer 12|
|PB_15|Timer 12|
|PC_6|Timer 3|
|PC_7|Timer 8|
|PC_8|Timer 8|
|PC_9|Timer 8|
|PD_12|Timer 4|
|PD_13|Timer 4|
|PD_14|Timer 4|
|PD_15|Timer 4|
|PE_4|Timer 15|
|PE_5|Timer 15|
|PE_6|Timer 15|
|PF_6|Timer 16|
|PF_7|Timer 17|
|PF_8|Timer 13|
|PF_9|Timer 14|

<div class="datatable-end"></div>