{% include important.html content="RRF doesn't use the Diag pin for sensorless homing or stall detection when using TMC2160/5160 and TMC2240. Please ensure the jumpers on the diag pins re removed." %}

## Overview

{% if page.onboardDrivers %}
Sensorless homing and stall detection is functional for the {{page.driverType}}'s onboard the {{page.boardname}}.
{% endif %}

Getting stall detection working can be tricky and sensorless homing will almost certainly require some tuning.  
 
As always the Duet wiki pages provide a lot of information that may also be of [help](https://docs.duet3d.com/en/User_manual/Connecting_hardware/Sensors_stall_detection){:target="_blank"}.

## Config.g Changes
{% include warning.html content="TMC2160/TMC5160 drivers only support stall detection when using spreadcycle mode." %}

### {{page.driverType}}

The only modification required in config.g is to add the following to each M569 command where sensorless homing is to be used.
`D2`  
D2 sets the driver into spreadcycle mode.

## Driver checks

At this point it is a good time to check whether your drivers are functioning correctly.  
Send M122 and check that each driver is being recognised correctly.

Example 2160/5160 detection - `Driver 0: standstill 5160, SG min n/a, mspos 8, reads 14652, writes 15`  

If M122 reports `Driver Not Present` where a driver is expected, then you need to revisit the driver jumpers and settings.

Also, if you have made board.txt changes, send M122 P200 and make sure the changes are reflected in the output.

## Homing file changes

This is where the main setup of sensorless homing takes place.  

Before using the examples below to config the sensorless homing, it is suggested to test each axis with the following homing code. Ensure that you comment out your current homing code using ;  
The code would go in the homex.g or homey.g (adjusting any X moves to Y)

```
G91
M915 P0 S-127 H10 R1 ; Set very sensitive stall detect
M574 X1 S3 ; configure endstop for stall detection
G1 X-200 H1 ; Should stall pretty much immediately
G90
```
{% include note.html content="If you are running the test code on a CoreXY, you also need to enable this test code on Y before making the final G1 move. You would do this by repeating the M915 line for P1 and the M574 line for Y1." %}

Once you have confirmed that your motors are stalling, adapt the example cartesian homing files below. Copies are also included at the below google drive links. Examples of corexy sensorless homing files can also be found below.    

The S, H and R values will probably need tweaking for your system.  
H is typically 200 for 1.8 degree motors and 400 for 0.9 degree motors.
S is the stall detection threshold which should be between -127 and +127.
{% include tip.html content="This port has a wider sensitivity range than the duet version of RRF (which is -64 to +64)." %}
R is the action to take on detecting a stall. 0 = no action (default), 1 = just report it, 2 = pause print, 3 = pause print, execute /sys/rehome/.g, and resume print

{% include tip.html content="RRF 3.4.x and above includes M201.1 - Set reduced acceleration for special move types, lowering the acceleration of your homing moves with M201.1 might increase sensorless-homing reliability. Prior versions can decrease and restore their accel values inside homex/y.g" %}

<ul id="profileTabs" class="nav nav-tabs">
    <li class="active"><a class="noCrossRef" href="#homex" data-toggle="tab">homex.g</a></li>
    <li><a class="noCrossRef" href="#homey" data-toggle="tab">homey.g</a></li>
    <li><a class="noCrossRef" href="#homeall" data-toggle="tab">homeall.g</a></li>
</ul>
  <div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="homex" markdown="1">

```
; homex.g
; called to home the X axis
;
M400					          ; Wait for all moves to stop
G91						          ; Use relative moves
G1 H2 X0.01	Z0.01		    ; Move X a small amount to enable
M400					          ; Wait for all moves to stop
G4 P200					        ; Delay to allow TMC to detect stopped state
M915 P0 S-10 H200 R0	  ; Configure stall detect
M574 X1 S3				      ; Configure X endstop
M913 X50 Z50			      ; Lower X and Z power
G4 P200					        ; Delay to ensure settings are made
G1 H2 Z5 F2500			    ; Lift Z relative to current position
G1 H1 X20 F2000			    ; Back away from endstop
M400					          ; Wait for all moves to stop
M915 P0 S-30 H200 R0	  ; Configure stall detect
G4 P200					        ; Delay to ensure settings are made
G1 H1 X-230 F2000		    ; Move towards endstop until it stalls
M400					          ; Wait for all moves to stop
M915 P0 S-10 H200 R0	  ; Configure stall detect
G4 P200					        ; Delay to ensure settings are made
G1 H1 X10 F2000			    ; Back away from endstop
M400					          ; Wait for all moves to stop
M915 P0 S-30 H200 R0	  ; Configure stall detect
G4 P200                 ; Delay to ensure settings are made
G1 H1 X-230 F2000		    ; Move towards endstop until it stalls
M915 P0 S-10 H200 R0	  ; Configure stall detect to be less sensitive
G1 X1 F1000				      ; Move away from stop and clear stall
G1 H2 Z-5 F2500			    ; Return Z to original position
M400					          ; Wait for all moves to stop
G90						          ; Absolute positioning
M913 X100 Z100			    ; Back to full power
M915 P0 S20 H200 R1		  ; Report any stalls
```

</div>

<div role="tabpanel" class="tab-pane" id="homey" markdown="1">

```
; homey.g
; called to home the Y axis
;
M400					          ; Wait for all moves to stop
G91						          ; Use relative moves
G1 H2 Y0.01	Z0.01		    ; Move Y a small amount to enable
M400					          ; Wait for all moves to stop
G4 P200					        ; Delay to allow TMC to detect stopped state
M915 P1 S-10 H200 R0	  ; Configure stall detect
M574 Y1 S3				      ; Configure Y endstop
M913 Y50 Z50			      ; Lower Y and Z power
G4 P200					        ; Delay to ensure settings are made
G1 H2 Z5 F2500			    ; lift Z relative to current position
G1 H1 Y20 F2000			    ; back away from endstop
M400					          ; Wait for all moves to stop
M915 P1 S-30 H200 R0	  ; Configure stall detect
G4 P200					        ; Delay to ensure settings are made
G1 H1 Y-300 F2000		    ; Move towards endstop until it stalls
M400					          ; Wait for all moves to stop
M915 P1 S-10 H200 R0	  ; Configure stall detect
G4 P200					        ; Delay to ensure settings are made
g1 H1 Y10 F2000			    ; Back away from endstop
M400                    ; Wait for all moves to stop
M915 P1 S-30 H200 R0	  ; Configure stall detect
G4 P200                 ; Delay to ensure settings are made
G1 H1 Y-300 F2000		    ; Move towards endstop until it stalls
M915 P1 S-10 H200 R0	  ; Configure stall detect to be less sensitive
G1 Y1 F1000				      ; Move away from stop and cancel stall
G1 H2 Z-5 F2500			    ; Return Z to original position
M400					          ; Wait for all moves to stop
G90						          ; Absolute positioning
M913 Y100 Z100			    ; back to full power
M915 P1 S20 H200 R1		  ; Report any stalls
```

</div>

<div role="tabpanel" class="tab-pane" id="homeall" markdown="1">

```
; homeall.g
; called to home all axes
;
; This makes use of stall detection to perform sensorless homing.
; The initial position is unknown so we may be up against either end
; of the machine. We need to take care to handle hitting either min or max
; endstops and to try and ensure that stall detect operates correctly. To
; do this and to minimise and damage if we hit the machine we operate at a
; reduced current during these moves.
M400					            ; Wait for all moves to stop
G91						            ; Use relative moves
G1 H2 X0.01 Y0.01 Z0.01	  ; Move X, Y and Z a small amount to force enable
G4 P200					          ; Wait to ensure TMC sees this as stopped state
M915 P0 S-10 H200 R0	    ; Configure stall detect in case we hit max endstops
M915 P1 S-10 H200 R0	    ; Configure stall detect
M574 X1 S3				        ; Configure X endstop
M574 Y1 S3				        ; Configure Y endstop
M913 X50 Y50 Z50		      ; Lower X, Y and Z power
G4 P200					          ; Delay to ensure settings are made
G1 H2 Z5 F2500			      ; Lift Z relative to current position
G1 H1 X20 Y20 F2800		    ; Back away from endstop
M400                      ; Wait for all moves to stop
M915 P0 S-30 H200 R0	    ; Configure stall detect for home, use more sensitive setting
M915 P1 S-30 H200 R0	    ; Configure stall detect
G4 P200                   ; Delay to ensure settings are made
G1 H1 X-300 Y-300 F2800	  ; Move towards endstop until it stalls
M400					            ; Wait for motion to stop, we should now be home
; There is a small chance that the above sequence did not work
; sometimes the inital movements after the printer has been powered
; on trigger stall detection. To avoid having the home position set
; incorrectly, we repeat the home operation again to be safe.
M915 P0 S-10 H200 R0	    ; Configure stall detect
M915 P1 S-10 H200 R0	    ; Configure stall detect
G1 H1 X10 Y10 F2800		    ; Back away from endstop
M400                      ; Wait for all moves to stop
M915 P0 S-30 H200 R0	    ; Configure stall detect for home detect
M915 P1 S-30 H200 R0	    ; Configure stall detect
G4 P200                   ; Delay to ensure settings are made
G1 H1 X-300 Y-300 F2800	  ; Move towards endstop until it stalls
M400					            ; Wait for all moves to stop
M915 P0 S-10 H200 R0	    ; Configure stall detect to be less sensitive
M915 P1 S-10 H200 R0	    ; Configure stall detect
G4 P200                   ; Delay to ensure settings are made
G1 X1 Y1 F1000			      ; Move away from stop and cancel stall
M400					            ; Wait for all moves to stop
G90						            ; Absolute positioning
G1 X117 Y128 F5000        ; Go to first bed probe point and home Z
G30                       ; Home Z by probing the bed
M913 X100 Y100 Z100		    ; Back to full power
M915 P0 S20 H200 R1		    ; Configure stall detect to report stalls
M915 P1 S20 H200 R1		    ; on both X and Y
```

</div>

</div>

## Troubleshooting

If your drivers aren't stalling at all with the test code, check the output of M122 P200 and make sure the pins are being listed correctly.  
If your drivers work with the test code but don't stall with the example homing files, lower the value of S.  
If your drives stall straight away with the example homing files, increase the S value.  
