## WiFi

You will need a [Fly/Mellow ESP32 Module](https://s.click.aliexpress.com/e/_oE7cB1k).
{% if page.boardname == "SKR v2.0" %}
Make sure the jumpers are installed next to the WiFi headers as shown below.
{% include image.html file="skr_2.0_wifi.PNG" alt="SKR v2.0 WiFi Jumpers" caption="SKR v2.0 WiFi Jumpers" %}
{% endif %}
{% if page.wifiEth == true %}
{% include note.html content="This board also supports an ESP32 WiFi/Ethernet adapter. See the [available ESP32 WiFi/Ethernet adapters](adapters_esp32eth_stm32h7.html) page for supported adapters and the board.txt change needed." %}
{% endif %}
{% if page.wifiFly == true %}
{% include note.html content="An ESP32-C5 based WiFi adapter is also planned for release. Details will be added here once it is available." %}
{% endif %}